/* 
----------  colorcodes

#90d06a
#beb5d9
#65509c

*/

:root {
  --green: #90d06a;
  --lilac: #beb5d9;
  --blue: #66509c;
  --black: #030303;
  --home: <a href= "index.html" >Home</a>;
  --contact: <a href= "contact.html" >Contact</a>;
}

* {
  margin: 0;
  font-family: "Crimson Pro", serif;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 10px 0;
}

h1 {
  font-size: 3.6vw;
}

h2 {
  font-size: 3vw;
}

p,
q {
  font-size: 2.4vw;
  line-height: 140%;
}

body {
  /* min-width: 800px; */
  max-width: 1376px;
  /* max-width: 20%; */
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header,
main,
section {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  padding: 20px 6%;
  
  
}

header {
  min-height: 50px;
  /* margin-bottom: 10px; */
}

header h1 {
  /* font-size: clamp(16px, calc(20px + (36–20) * (100vw - 768px)/(1920–768)), 48px); */
  /* font-size: 4vw; */
  font-size: clamp(1rem, 0.1134rem + 3.299vw, 4rem);
}

nav {
  width: auto;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 0.5px solid #030303;
  z-index: 100;
}

button.accordion {
  font-size: 2.5rem;
}

/* dropdown navbar css */

/* Navbar container */

#navigation {
  display: flex;
  flex-direction: column;
  justify-items: end;
}

#social-icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-top: 20px;
}

#social-icons a {
  padding:0 8px;
  
}

#social-icons img {
  height: 25px;
  
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* font-size: 1.6rem; */
  overflow: hidden;
  /* background-color: #333; */
  padding: 0 6%;
  align-items: center;
  height: 100px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  color: var(--blue);
  text-align: center;
  /* padding: 10px 10px; */
}

.logo {
  max-height: 80px;
  /* width: fit-content; */
  max-width: fit-content;
  /* padding: 14px 10px; */
  padding-left: 0;
}

.navbar a.logo{
  padding: 0;
}


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.navbar a,
.dropdown .dropbtn {
  padding: 5px 10px 5px;
  font-size: 1.8vw;
}

/* Dropdown button */
.dropdown .dropbtn {
  /* font-size: 1.6rem; */
  border: none;
  outline: none;
  color: var(--blue);
  /* padding: 0px 10px; */
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--lilac);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* left: 0; */
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

/* Links inside the dropdown */
.dropdown-content a {
  /* right: 0; */
  float: none;
  color: var(--blue);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--lilac);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#hamburger-menu {
  display: none;
}





/*  navbar css end*/

/* accordion css */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  /* padding: 18px; */
  width: auto;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding: 0 6%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: var(--lilac);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion p:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 22px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active p:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* end accordion css */

.profile-photo {
  float: right;
  width: max-content;
}

/* footer css */


.footer-items {
  flex-direction: column;
  

}

.footer-links,
.footer-link,
.footer-items {
  display: flex;
}

.footer-links {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 15px 6%;

}

.footer-link {
  flex-direction: column;
  /* padding: 5px 10px; */
  align-items: center;
  justify-items: center;
}

.footer-link a {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.footer-link img {
  padding: 5px 0;
  height: 80px;
  width: auto;
  width: fit-content;
  align-self: center;
  
}

.footer-contacts,
.footer-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-contacts {
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 20px 6%;

}

.footer-contact p {
  width: -moz-fit-content;
  width:fit-content;
  padding: 0 10px 0;
  
}

.footer-contact a, 
.footer-contact p {
  font-size: 2.2vw;

}

/* end footer css */

.bg-lilac {
  background-color: var(--lilac);
}

.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-black {
  background-color: var(--black);
}

.bullet-list li {
  list-style: disc;
  font-size: 1.6rem;
  line-height: 160%;
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  border: 0 solid #030303;
  border-radius: 10px;
  padding: 20px 8%;
  
}

#hero-index {
  background-image: url("/img/Spinal-Function-3.webp");
    
}

#hero-research {
  background-image: url("/img/sharon-in-field.webp");
   
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 60px;
  color: white;
  border-radius: 10px;


}


/* slideshow css */

/* Slideshow container */

.testimonial {
  padding: 0 8%;
}

.slideshow-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  z-index: 1;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 25px;
  width: auto;
  /* margin-top: -22px; */
  padding: 16px;
  color: var(--blue);
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  user-select: none;
}

/* Position the "previous button" to the left */

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /* border-radius: 3px 0 0 3px; */
}

/* On hover, add a background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: var(--blue);
  color: white;
}

/* Caption text */
.text {
  color: var(--blue);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--blue);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* slideshow css end */

@media only screen and (max-width: 768px) {
  body {
    width: auto;
    box-shadow: none;
  }

/* navigation css */



  .navbar .logo {
    height: 50px;
  }

  .nav-items {
    display: flex;
    justify-items: end;
  
  }

  .navbar a,
  .dropdown .dropbtn {
    font-size: inherit;
  }

  /* footer css */

  .footer-logo {
    height: 40px;
    width: auto;
  }

  .footer-link img {
    height: 40px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }

  .footer-contact a {
    font-size: 1.3rem;
  }

/* end footer css */

}

@media only screen and (max-width: 430px) {
  body {
    display: flex;
    flex-direction: column;
    /* margin: 0; */
  }

  header,
  main,
  section,
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 5%;
  }

  footer {
    padding: 10px 0;
  }

  header h1,
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .navbar {
    height: 60px;
  }

  .nav-items {
    display: none;
  }

  .navbar .logo {
    /* padding: 10px 0px; */
    height: 40px;
  }

  #social-icons img {
    width: 18px;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }

  #hamburger-menu {
    display: flex;
  }

  .hamburger span {
    display: flex;
    width: 40px;
    height: 5px;
    background-color: var(--black);
    border-radius: 5px;
    margin: 4px 0;
  }

  .hamburger-items {
    display: none;
  }

  .hamburger-items.visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    right: 0;
    top: 80px;
  }

  .aviso li {
    /* list-style-type: decimal; */
    font-size: 1.6rem;
  }

  .aviso p {
    font-size: 1.2rem;
  }

  /* footer css */

  .footer-items,
  .footer-link,
  .footer-contact {
    display: flex;
  }

  .footer-items,
  .footer-link {
    flex-direction: column;
  }

  .footer-items {
    justify-content: space-between;
    
  }

  .footer-link {
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
  }

  .footer-contacts {
    flex-direction: column;
    
    
  }

  .footer-contact a, p {
    font-size: 1.1rem;
    padding: 10px 0;
  }

  .footer-link img {
    /* clip: auto; */
    overflow: hidden;
  }

  /* footer css end */
}
