/* Teal: #3e5264  hsl(208,23%,32%) rgba(62,82,100,1)
Yellow: #fbdf06  hsl(53,97%,50%) rgba(251,223,6,1)
Green: #e1edeb  hsl(170,25%,91%) rgba(225,237,235,1)
Lightgray: #eeeeee hsl(0,0%,93%) rgba(238,238,238,1)



 */

:root {
  --bluegray: #3e5264;
  --cream: #f6f2dd;
  --nanogreen: #e2eded;
  --black: #000000;
  --light-blue: #dce5f0;
  --pink: #f5e8e8;
  --pink2: hsl(325, 32%, 93%);
  --home_icon: <img class= "nav-logo" src=
    "../img/GG-logo-symbol-141px-black.png" height= "30px" alt=
    "ggcom curly icon" / >;
}

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  line-height: 3;
  text-decoration: none;
}

/* HTML tags */

h1,
h2,
h3,
p,
a {
  line-height: 2;
}

a {
  color: var(--bluegray);
  font-weight: 100;
}

p {
  margin-bottom: 1.5rem;
}

a:visited {
  color: var(--bluegray);
}

a:hover {
  font-weight: bold;
}

ul {
  margin-left: 15px;
}

input,
textarea {
  width: 400px;
  font-size: large;
  background-color: var(--cream);
  border: 0 solid var(--cream);
  border-radius: 15px;
  padding: 0 0 0 10px;
}

textarea {
  height: 200px;
}

input.button:hover {
  background-color: var(--nanogreen);
  color: var(--bluegray);
  border: 2px solid var(--bluegray);
  font-size: large;
}

header,
main,
section,
footer,
article {
  display: flex;
  flex-flow: row wrap;
  padding: 50px 15%;
}

/* hero- and intro-image definitions */

.hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  background-attachment: fixed;
}

.intro-image {
  min-width: 100px;
}

/* Nav definitions */

/* ----- general class definition ----- */

.ct-flex {
  display: flex;
  flex-flow: row wrap;
  padding: 50px 15%;
}

.ct {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 30px 0;
  justify-content: start;
}

.footer-flex {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr;
  padding: 50px 15%;
  justify-items: center;
}

.ct-item {
  flex: 1 1 0px;
  padding: 0 20px 0 20px;
  justify-content: center;
}

.ct-item-center {
  flex: 1 1 0px;
  padding: 0 20px 0 50px;
  justify-content: center;
}

.ct-padding {
  padding: 50px 20%;
}

.footer-item {
  display: flex;
  flex-direction: row;
  flex: 1 1 0px;
  padding: 0 20px 0 20px;
  align-items: center;
  justify-content: space-around;
}

.pad-text {
  padding: 20px 0 0 20px;
}

.tilt {
  vertical-align: 40%;
}

.intro-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  background-position: right top;
  background-repeat: no-repeat;
  /* background-attachment:fixed; */
  background-size: cover;
}

.opac {
  color: var(--cream);
  font-size: larger;
  background-color: rgba(62, 82, 100, 0.8);
  padding: 20px;
}

.fade-in-image {
  animation: fadeIn 0.5s;
}

.wrap {
  float: left;
  margin: -10px 10px 0 0;
}

/* Color classes */

.bluegray {
  background-color: var(--bluegray);
  color: var(--cream);
}

.cream {
  background-color: var(--cream);
  color: var(--bluegray);
}

.nanogreen {
  background-color: var(--nanogreen);
  color: var(--bluegray);
}

.light-gray {
  background-color: #eeeeee;
  color: var(--bluegray);
}

.light-blue {
  background-color: var(--light-blue);
  color: var(--bluegray);
}

.pink {
  background-color: var(--pink2);
  color: var(--bluegray);
}

/* Nav-definitions and Hamburger menu */

.topnav {
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-items: end;
  align-content: center;
  position: sticky;
  height: 80px;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: var(--cream);
  color: var(--bluegray);
}

.topnav a.active {
  color: var(--black);
  text-decoration: underline;
  font-weight: bolder;
}

.nav-logo {
  display: grid;
  margin-left: 20px;
  align-items: center;
  align-content: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
}

.nav-item {
  padding: 0 10px;
}

.home-item {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  margin: 20px 5px 20px 5px;
  font-size: 1.75rem;
  flex: 1 1 350px;
  box-shadow: inset 0 0 0 1000px rgba(51, 82, 100, 0.6);
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  color: var(--bluegray);
  position: relative;
  width: 35px;
  height: 4px;
  margin-top: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-menu {
  width: 100%;
  background-color: var(--bluegray);
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 5px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ham-menu {
  display: none;
}

.nav-menu a:first-child {
  margin: 0px;
}

.nav-menu a:last-child {
  margin-bottom: 20px;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 12.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked ~ .nav-menu {
  height: 240px;
  margin-top: 10px;
}

/* ----- four fielder ----- */

.ct-fourfield {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 800px; */
  justify-content: space-between;
}

.fourfield-item {
  margin: 15px 0 15px 0;
  padding: 20px;
  min-width: 300px;
  /* max-width: 45%; */
}

.button {
  width: 410px;
  font-size: large;
  border: 2px solid var(--cream);
  border-radius: 15px;
  background-color: var(--cream);
  color: var(--bluegray);
}

/* ID definitions */

#home-intro {
  background-image: url("/img/88045b27c0.png");
}

#leadership-intro {
  background-image: url("/img/xcited\ creative\ business\ people\ giving\ high-five\ in\ meeting\ room\ at\ creative\ office\ -\ edited.jpg");
}

#communication-intro {
  background-image: url("/img/High\ angle\ view\ of\ young\ partners\ discussing\ in\ meeting\ room\ at\ creative\ office-resized.jpg");
}

#creativity-intro {
  background-image: url("/img/two\ colleagues\ interior\ designer\ discussing\ data\ and\ digital\ tablet\ and\ computer\ laptop\ with\ sample\ material\ and\ digital\ design\ diagram\ on\ wooden\ desk\ as\ concept\ -\ resized.jpg");
}

#contact-intro {
  background-image: url("/img/Smiling\ young\ man\ using\ digital\ tablet\ in\ the\ office\ rezised.jpg");
}

#linda-pic {
  width: 150px;
  padding: 20px 0 0 0;
  margin: 0 30px 0 0;
}

#vision-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 360px;
  justify-content: space-between;
}

#home-ledarskap {
  background-image: url("/img/414ad0316b.png");
  color: var(--cream);

  /* height: 200px; */
}

#home-kommunikation {
  background-image: url("/img/Smiling\ charismatic\ speaker\ giving\ public\ presentation\ in\ conference\ hall.jpg");
  color: var(--cream);

  /* height: 200px; */
}

#home-kreativitet {
  background-image: url("/img/20190405_065230741_iOS_edited1.jpg");
  color: var(--cream);
}

/* ----- Hamburger IDs ----- */

/* MQ tablets */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1.1rem;
  }

  .nav-logo {
    margin: 10px 0 0 20px;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
  }

  .nav-item {
    display: flex;
  }

  /* .ham-menu {
      display:none;
  } */

  .intro-image {
    min-width: 100px;
    max-width: 100%;
  }

  .ct-flex {
    display: grid;
    /* flex-direction: column; */
    /* padding: 0 20px; */
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 2 200px;
  }

  .ct-item {
    flex: 1 1 0px;
    padding: 0 20px 0 20px;
    justify-content: center;
  }

  .ct-fourfield {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 800px; */
    /* justify-content: space-around; */
  }

  .fourfield-item {
    margin: 10px 0;
    padding: 20px;
    /* min-width: 250px; */
    /* max-width: 40%; */
  }
}

/* MQ smartphones */

@media only screen and (max-width: 414px) {
  h1,
  h2,
  h3,
  p,
  a {
    line-height: 1.8;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.95rem;
  }

  main,
  section,
  footer,
  article {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 8%;
  }

  header {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0;
  }

  input,
  textarea {
    /* max-width: 80%; */
    /* margin: 0 10px; */
    width: 97%;
    font-size: larger;
    background-color: var(--cream);
    padding: 0 0 0 10px;
    border-radius: 15px;
    /* border: 0px solid var(--cream); */
  }

  textarea {
    height: 200px;
  }

  input.button,
  button {
    width: 100%;
    font-size: medium;
    background-color: var(--cream);
    /* border: 0px solid var(--cream); */
    border-radius: 15px;
    color: var(--bluegray);
  }

  input.button:hover,
  button:hover {
    background-color: var(--bluegray);
    color: var(--cream);
    border: 0px solid var(--bluegray);
    font-size: medium;
  }

  a:visited {
    color: var(--cream);
  }

  .topnav {
    display: flex;
    height: 50px;
    justify-content: space-between;
  }

  .nav-item {
    display: none;
  }

  .ham-menu {
    display: flex;
  }

  .hamburger1 {
    height: 30px;
    margin-top: 10px;
    margin-right: 20px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: end;
    z-index: 200;
  }

  .hero-image {
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: bottom; */
    height: auto;
    /* background-attachment: fixed; */
  }

  .intro-image {
    min-width: 100px;
    max-width: 100%;
  }
  .nav-logo {
    margin: 10px 0 0 20px;
  }

  .home-item {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
    font-size: 1.75rem;
    /* flex: 1 1 100px; */
    box-shadow: inset 0 0 0 1000px rgba(51, 82, 100, 0.65);
  }

  .ct-flex {
    display: flex;
    /* flex-direction: column; */
    /* padding: 0 20px; */
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 2 200px;
  }

  .ct-fourfield {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    /* justify-content: space-between; */
  }

  .fourfield-item {
    margin: 0;
    padding: 15px 8% 5px 8%;
    min-width: auto;
    max-width: auto;
  }

  .opac {
    color: var(--cream);
    background-color: rgba(62, 82, 100, 0.8);
    padding: 8%;
  }
  #linda-pic {
    width: 100px;
    padding: 20px 0 0 0;
    margin: 0 10px 0 0;
  }
  .wrap {
    float: right;
  }

  .footer-item {
    display: flex;
    /* flex: auto; */
    /* margin: 10px 0; */
    padding: 0 20px 0 20px;
    justify-content: space-evenly;
  }

  .footer-flex {
    display: grid;
    grid-template-rows: 60px 60px 60px;
    grid-template-columns: 70px 1fr;
    justify-items: start;
    align-items: center;
    /* flex-direction: column; */
    padding: 10px 8%;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* flex: 1 2 200px; */
  }

  p.footer-flex {
    font-size: 10rem;
  }

  .link1 {
    width: 100%;
    margin: 5px;
    padding: 10px;
    font: 700 20px Montserrat, sans-serif;
    color: var(--cream);
    z-index: 200;
  }

  .link1:hover {
    background-color: var(--cream);
    color: var(--bluegray);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
