/* 
----------  colorcodes

#90d06a
#beb5d9
#65509c

*/

:root {
  --green: #90d06a;
  --lilac: #beb5d9;
  --blue: #65509c;
  --home: href="index.html";
  --contact: href:"contact.html">Contact</a>;
}

  margin: 0px;
  font-family: "Crimson Pro", serif;
}

h1 {
  font-size: 3.5rem;
}

body {
  /* min-width: 800px; */
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo {
  float: left;
  font-size: 24px;
  text-transform: uppercase;
  color: #002e5b;
  font-weight: 600;
  padding: 20px 0px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  background-color: bisque;

}

header {
  background-image: url("/img/cropped-kiro-nilsson-logotipo11.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  margin-bottom: 10px;
  width: 100%;
  display: table;

}

footer {
  background-color: var(--green);
  height: auto;
}

nav {
  width: auto;
  float: right;
}

nav ul {
  display: table;
  float: right;
}

nav ul li {
  float: left;
}

nav ul li:last-child {
  padding-right: 0px;
}

nav ul li a {
  color: #002e5b;
  font-size: 18px;
  padding: 25px 20px;
  display: inline-block;
  transition: all 0.5s ease 0s;
}

nav ul li a:hover {
  background-color: #002e5b;
  color: #fde428;
  transition: all 0.5s ease 0s;
}

nav ul li a:hover i {
  color: #fde428;
  transition: all 0.5s ease 0s;
}

nav ul li a i {
  padding-right: 10px;
  color: #002e5b;
  transition: all 0.5s ease 0s;
}

.toggle-menu ul {
  display: table;
  width: 25px;
}

.toggle-menu ul li {
  width: 100%;
  height: 3px;
  background-color: #002e5b;
  margin-bottom: 4px;
}

.toggle-menu ul li:last-child {
  margin-bottom: 0px;
}

input[type=checkbox],
label {
  display: none;
}

.hero-index {
  background-image: url("/img/Spinal-Function-3.webp");
  min-height: 350px;
}

@media only screen and (max-width: 430px) {
  body {
    width: 100%;
  }

  header {
    padding: 20px 0px;
  }

  #logo {
    padding: 0px;
  }

  .nav-area {
    background: var(--green);
    height: 60px;
  }

  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: none;
  }

  input[type=checkbox]:focus {
    background: none;
  }

  label {
    float: right;
    padding: 8px 0px;
    display: inline-block;
    cursor: pointer;
  }

  input[type=checkbox]:checked~.navbar {
    display: block;
  }

  div .topnav {
    display: flex;
    flex-direction: row;
    position: sticky;
    right: 0px;
    top: 90px;
    background-color: #002e5b;
    padding: 0px;
    z-index: 100;
  }

  div .nav-items {
    display: none;
  }


  div .ham-menu {
    display: flex;
    flex-direction: column;
  }
  
  nav ul {
    width: auto;
  }

  nav ul li {
    float: none;
    padding: 0px;
    width: 100%;
    display: table;
  }

  nav ul li a {
    color: #FFF;
    font-size: 15px;
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
  }

  nav ul li a i {
    color: #fde428;
    padding-right: 13px;
  }
}