/* 
----------  colorcodes

#90d06a
#beb5d9
#65509c

*/

:root {
  --green: #90d06a;
  --lilac: #beb5d9;
  --blue: #65509c;
  --black: #030303;
  --home: <a href= "index.html" >Home</a>;
  --contact: <a href= "contact.html" >Contact</a>;
}

* {
  margin: 0px;
  font-family: "Crimson Pro", serif;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 10px 0;
}

h1 {
  font-size: 3.5rem;
}

p,
q {
  font-size: 1.6rem;
  line-height: 140%;
}

body {
  /* min-width: 800px; */
  width: 1024px;
  /* max-width: 20%; */
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header,
main,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 8%;
}

header {
  min-height: 50px;
  margin-bottom: 10px;
}

nav {
  width: auto;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 0.5px solid #030303;
}

nav ul {
  display: table;
  float: right;
}

nav ul li {
  float: left;
}

nav ul li:last-child {
  padding-right: 0px;
}

nav ul li a {
  color: var(--blue);
  font-size: 18px;
  padding: 25px 20px;
  display: inline-block;
  transition: all 0.5s ease 0s;
}

nav ul li a:hover {
  background-color: var(--lilac);
  color: var(--black);
  transition: all 0.5s ease 0s;
  border-radius: 20px;
}

nav ul li a:hover i {
  color: #fde428;
  transition: all 0.5s ease 0s;
}

nav ul li a i {
  padding-right: 10px;
  color: #002e5b;
  transition: all 0.5s ease 0s;
}

.logo {
  padding: 20px 10px;
}

.phone {
  display: none;
}

.web {
  display: inline;
}

.profile-photo {
  float: right;
  width: max-content;
}

.footer-logo {
  height: 80px;
  width: min-content;
}

.footer-items {
  padding: 20px 5%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.footer-items p {
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.bg-lilac {
  background-color: var(--lilac);
}

.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-black {
  background-color: var(--black);
}

.bullet-list li {
  list-style: disc;
  font-size: 1.6rem;
  line-height: 160%;
}

#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#hero-index {
  background-image: url("/img/Spinal-Function-3.webp");
  min-height: 350px;
  width: auto;
}

#research {
  background-image: url("/img/sharon-in-field.webp");
  background-repeat: no-repeat;
  min-height: 350px;
}

@media only screen and (max-width: 768px) {
  body {
    width: 768px;
    box-shadow: none;
  }

  nav ul {
    display: table;
    float: right;
  }

  nav ul li {
    float: left;
  }

  nav ul li:last-child {
    padding-right: 0px;
  }

  nav ul li a {
    color: var(--blue);
    font-size: 18px;
    padding: 10px 10px;
    display: inline-block;
    transition: all 0.5s ease 0s;
  }

  nav ul li a:hover {
    background-color: #002e5b;
    color: #fde428;
    transition: all 0.5s ease 0s;
  }

  nav ul li a:hover i {
    color: #fde428;
    transition: all 0.5s ease 0s;
  }

  nav ul li a i {
    padding-right: 10px;
    color: #002e5b;
    transition: all 0.5s ease 0s;
  }

  #nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
  }
}

@media only screen and (max-width: 430px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }


  header,
  main,
  section,
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px;
  }

  .logo {
    padding: 10px 10px;
  }

  .phone {
    display: inline;
  }

  .web {
    display: none;
  }

  nav ul {
    width: auto;
  }

  nav ul li {
    float: none;
    padding: 0px;
    width: 100%;
    display: table;
  }

  nav ul li a {
    color: var(--lilac);
    font-size: 15px;
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
  }

  nav ul li a i {
    color: #fde428;
    padding-right: 13px;
  }

  #nav {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-wrap: nowrap;
    align-items: start;
  }
}
